<mat-sidenav-container class="main-container" fullscreen hasBackdrop="false">
    <mat-sidenav #sidenav mode="push"> 
        <mat-toolbar color="primary">
            <mat-toolbar-row *ngIf="!isLogged()">
                <button mat-button routerLink="/login">Login</button>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="!isLogged()">
                <button mat-button routerLink="/register">Register</button>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="isLogged()">
                <button mat-button [routerLink]="['/user', currentUser.id]">Profile</button>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="isLogged()">
                <button mat-button routerLink="/add-album">Add Album</button>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="isLogged()">
                <logout></logout>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <button (click)="sidenav.toggle()" style="position: absolute">Open</button>
        <alert></alert>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
