<div class="page-container">
  <div class="info-bar">
    <div class="info-bar-item">
      <pg-user-card *ngIf="user" [user]="user" [isCurrentUser]="isCurrentUser()"></pg-user-card>
    </div>
    <div class="info-bar-item">
      <pg-album-card *ngIf="album" [album]="album" [isCurrentUser]="isCurrentUser()" (remove)="removeAlbum($event)">
      </pg-album-card>
    </div>
  </div>
  <div class="page-content">
    <div *ngIf="photos != null" class="grid">
      <div *ngFor="let photo of photos" class="grid-item">
        <pg-photo-card [photo]="photo" [isCurrentUser]="isCurrentUser()" (remove)="removePhoto($event)"></pg-photo-card>
      </div>
    </div>
    <pg-load-more [isLoadMoreDisplayed]="isLoadMoreDisplayed" (loadMore)="loadMore($event)"></pg-load-more>
  </div>
</div>