<div class="card-wrapper">
  <mat-card>
    <img mat-card-image class="photo" [src]="photo.path" [routerLink]="['/photo', photo.id]" />
    <mat-card-content>
      <p><b>{{photo.title}}</b></p>
      <p>{{photo.description}}</p>
      <p>{{photo.creationDate}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isCurrentUser" class="card-actions">
        <i [routerLink]="['/update-photo', photo.id]" mat-card-avatar class="material-icons">edit</i>
        <i mat-card-avatar class="material-icons" (click)="removePhoto()">delete</i>
      </mat-card-actions>
  </mat-card>
</div>