<div class="page-container">
  <div class="info-bar">
    <div class="info-bar-item">
      <pg-user-card *ngIf="user" [user]="user"></pg-user-card>
    </div>
  </div>
  <div class="page-content">
    <div *ngIf="albums != null" class="grid">
      <div *ngFor="let album of albums" class="grid-item">
        <pg-album-card [album]="album" [isCurrentUser]="isCurrentUser(album.userId)" (remove)="remove($event)">
        </pg-album-card>
      </div>
    </div>
    <pg-load-more [isLoadMoreDisplayed]="isLoadMoreDisplayed" (loadMore)="loadMore($event)"></pg-load-more>
  </div>
</div>