<div class="update-page-container">
  <div class="update-card-wrapper">
    <mat-card>
      <mat-card-header>
        <i mat-card-avatar class="material-icons">face</i>
        <mat-card-title>Login Page</mat-card-title>
        <mat-card-subtitle>Please, enter your credentials for the access to the site</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
          <mat-form-field>
            <input matInput placeholder="Username" type="text" formControlName="username" />
            <mat-error *ngIf="formControls.username.invalid">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password" />
            <mat-error *ngIf="formControls.password.invalid">Password is required</mat-error>
          </mat-form-field>
          <button mat-button [disabled]="loading">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>