<div class="card-wrapper">
  <mat-card>
    <mat-card-header>
      <i mat-card-avatar class="material-icons">photo_album</i>
      <mat-card-title><a [routerLink]="['/album', album.id]">{{album.title}}</a></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{album.description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isCurrentUser" class="card-actions">
      <i [routerLink]="['/update-album', album.id]" mat-card-avatar class="material-icons">edit</i>
      <i mat-card-avatar class="material-icons" (click)="removeAlbum()">delete</i>
    </mat-card-actions>
  </mat-card>
</div>