<div class="container--centered">
  <div class="card__wrapper--editing">
    <mat-card>
      <mat-card-header>
        <i mat-card-avatar class="material-icons">photo_album</i>
        <mat-card-title>Photo Creation Page</mat-card-title>
        <mat-card-subtitle>Please, fill the form to add a new photo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <pg-photo-form (parentSubmit)="onSubmit($event)" [(loading)]="loading" [photo]="photo"></pg-photo-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>