<form (ngSubmit)="onSubmit()" #albumForm="ngForm" class="form">
  <mat-form-field>
    <input matInput placeholder="Title" type="text" required
      name="title" id="title"
      [ngModel]="album?.title" 
      (ngModelChange)="album.title=$event" 
      #title="ngModel" />
    <mat-error [hidden]="title.valid || title.pristine">Title is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" type="text" rows="5"
      name="description" id="description"
      [ngModel]="album?.description"
      (ngModelChange)="album.description=$event">
    </textarea>
  </mat-form-field>
  <div class="form__buttons">
    <button mat-flat-button [disabled]="loading || !albumForm.form.valid" color="primary" class="form__button">Save Album</button>
    <a mat-flat-button [disabled]="loading" (click)="cancel()" class="form__button">Cancel</a>
  </div>
</form>