.photos-grid{
    display: flex;
    flex-wrap: wrap;
}

.photo-grid-title{
    padding-left: 20px;
}

.album-page-container{
    display: flex;
    padding: 20px;
}

.album-card{
    min-width: 300px;
}