<div class="page-container">
  <div class="info-bar">
    <div class="info-bar-item">
      <user-card *ngIf="user" [user]="user" [isCurrentUser]="isCurrentUser()"></user-card>
    </div>
    <div class="info-bar-item">
      <album-card *ngIf="album" [album]="album" [isCurrentUser]="isCurrentUser()"></album-card>
    </div>
  </div>
  <div *ngIf="photos != null" class="grid">
    <div *ngFor="let photo of photos" class="grid-item">
      <photo-card [photo]="photo" [isCurrentUser]="isCurrentUser()"></photo-card>
    </div>
  </div>
</div>